/* Si estamos redimensionando, quitamos las transiciones para que sea fluido */
aside {
    transition: transform 0.3s ease-in-out;
}

/* Evita que el texto se seleccione mientras arrastras */
.select-none {
    user-select: none;
}

/* Estilo opcional para el scrollbar del nav */
nav::-webkit-scrollbar {
    width: 4px;
}
nav::-webkit-scrollbar-thumb {
    background: #e2e8f0;
    border-radius: 10px;
}