<aside 
  [style.width.px]="anchoSidebar"
  class="fixed inset-y-0 left-0 z-50 h-screen bg-white border-r border-gray-100 flex flex-col transition-[width] duration-300">
  
  <div class="h-20 px-6 flex items-center justify-between">
    <div class="flex items-center min-w-0" *ngIf="!estaColapsado">
      <span class="font-black text-gray-900 tracking-widest text-2xl uppercase animate-in fade-in duration-500">S.G.O</span>
    </div>
    <button (click)="alternarSidebar()" 
            [class.mx-auto]="estaColapsado"
            class="p-2 hover:bg-emerald-50 text-gray-400 hover:text-sena rounded-xl transition-all active:scale-90">
       <i class="pi" [class.pi-angle-double-left]="!estaColapsado" [class.pi-angle-double-right]="estaColapsado"></i>
    </button>
  </div>

  <nav class="flex-1 px-4 space-y-1 mt-2 overflow-y-auto overflow-x-hidden">
    <a *ngFor="let item of menuItems"
       [routerLink]="item.route"
       routerLinkActive="bg-sena/10 text-sena shadow-sm"
       [class.justify-center]="estaColapsado"
       class="group flex items-center gap-4 p-3.5 rounded-2xl hover:bg-gray-50 text-gray-500 hover:text-gray-900 transition-all">
      
      <div class="shrink-0 flex items-center justify-center">
        <i [class]="item.icon" 
           class="text-xl group-hover:scale-110 transition-transform duration-200">
        </i>
      </div>

      <span *ngIf="!estaColapsado" 
            class="font-bold text-sm truncate uppercase tracking-tight animate-in slide-in-from-left-2 duration-300">
        {{ item.label }}
      </span>
    </a>
  </nav>

  <div class="p-4 border-t border-gray-50 mt-auto bg-gray-50/30">
    <div class="flex items-center gap-3 p-2 rounded-2xl overflow-hidden" [class.justify-center]="estaColapsado">
      <div class="w-10 h-10 rounded-xl bg-sena text-white flex items-center justify-center font-black shrink-0 shadow-lg shadow-emerald-100 uppercase">
        {{ usuario?.nombre?.substring(0,2) || '??' }}
      </div>
      
      <div *ngIf="!estaColapsado" class="flex flex-col min-w-0 animate-in fade-in duration-300">
        <span class="text-[11px] font-black text-gray-900 truncate uppercase tracking-tighter">
          {{ usuario?.nombre }}
        </span>
        <span class="text-[9px] font-bold text-sena uppercase tracking-widest">
            {{ usuario?.rol_id === 1 ? 'Administrador' : 'Instructor' }}
        </span>
      </div>

      <button *ngIf="!estaColapsado" (click)="logout()" 
              class="ml-auto p-1.5 text-gray-400 hover:text-red-500 hover:bg-red-50 rounded-lg transition-all active:scale-95">
        <i class="pi pi-power-off font-bold"></i>
      </button>
    </div>
  </div>

  <div (mousedown)="iniciarRedimension($event)" 
       class="absolute top-0 right-0 w-1.5 h-full cursor-col-resize hover:bg-sena/10 transition-colors group">
    <div [class.bg-sena]="estaRedimensionando" 
         class="h-full w-[2px] ml-auto opacity-0 group-hover:opacity-100 transition-opacity"></div>
  </div>
</aside>